@black: #222222;
@body-color: @black;
@blue: #57A3FE;
@green: #57FEB2;
@brown: #bf7d4a;
@teal: #aaf1ff;
@orange: #FEB257;
@pink: #FE57A3;

body {
  background-color: @body-color;
  font-family: Inconsolata, Consolas, monospace;
}

.object {
  font-size: 24px;
  width: 540px;
  margin: 0 auto;
  line-height: 1;
  color: @pink;
  margin-top: 5em;

  .code-link-icon {
    font-size: 28px;
    margin-right: 14px;
    vertical-align: middle;
  }

  .name {
    color: white;
    font-size: 28px;
  }
  
  @media only screen and (max-width: 600px) {    
    font-size: 16px;
    .code-link-icon {
      font-size: 20px;
    }
    .name {
      font-size: 22px;
    }
  }

  .inner-object {
    padding-left: 2em;
  }

  .object-title {
    color: @orange;
  }

  .code-link {
    text-decoration: none;
    color: @teal;
    margin-left: 1em;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.blue {
  color: @blue;
}

.green {
  color: @green;
}

.brown {
  color: @brown;
}

.white {
  color: white;
}
