doctype html
html
	head
		title Error
		link(rel="stylesheet" href="/css/50x.less.css")
	body
		h1 An error occurred.
		p Sorry, the page you are looking for is currently unavailable. br Please try again later.
		p If you are the system administrator of this resource then you should check the #[a(href="https://nginx.org/r/error_log") error log] for details.
		p
			em Faithfully yours, nginx.
