doctype html
html
	head
		!= partial("partial/_main_header")		
		link(rel="stylesheet" href="/css/base.css")
		link(rel="canonical" href="https://www.alemkin.com/")

		link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	body
		header.site-header
			div.wrapper
				a.site-title(href="/") Alexander Lemkin
				nav.home--links
					ul
						li
							a.link-border(target="_blank" href="/resume") Resum&#233;
						i.fa.fa-database

		div.page-content
			div.wrapper
				div.home
					img(src="/images/alex.jpg" alt="Alex & Ellen")
					h2 I am a Web and Software Developer.
						p Check out my Resum&#233; at the top.
						p Look below for my social media sites.

				div.wrapper
					div.social-media-list
						!= partial("partial/_social_media_list")
			div.footer-col-wrapper
				p © 2017 Alexander Lemkin

		script(src="/js/analytics.js")
		script(src="/js/jquery.min.js")
