doctype html
html
	head
		!= partial("partial/_main_header")		
		link(rel="stylesheet" href="/css/base.css")
		link(rel="canonical" href="https://www.alemkin.com/")

		link(href='/css/lato-font.css' rel='stylesheet' type='text/css')
		link(href='/css/lora-font.css' rel='stylesheet' type='text/css')
		link(href="/css/font-awesome.min.css" rel="stylesheet")
	body
		header.site-header
			div.wrapper
				a.site-title(href="/") Alexander Lemkin
				nav.home--links
					ul
						li
							a.link-border(target="_blank" href="/resume") Resum&#233;
						i.fa.fa-database

		div.page-content
			div.wrapper
				div.home
					h2 I am a Web and Software Developer.
						p Check out my Resum&#233; at the top.
						p Look below for my social media sites.

				div.wrapper(style="margin-top:2em")
					div.social-media-list
						!= partial("partial/_social_media_list")
			div.footer-col-wrapper
				p © 2017 Alexander Lemkin

		script(src="/js/jquery.min.js")
