doctype html
html(lang="en")
	head
		!= partial("../partial/_main_header")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/mdb.min.css" rel="stylesheet")
		link(href="css/doodles.css" rel="stylesheet")

	body(style="padding:3em;")
		nav.navbar.navbar-toggleable-md.navbar-dark.bg-primary
			div.navbar-brand
				strong ./Doodles (Mostly Sergio's)
			div.navbar-nav
				a.nav-link.fa.fa-home(href="https://www.alemkin.com") &nbsp;Return to Alemkin.com
		h1
		div.row.images
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
			div.col-md-4
				div.card
					div.view.overlay.hm-white-slight
						img(src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="")
						a(target="_blank" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg")
							div.mask.waves-effect.waves-light

					div.card-block
						h4.card-title Rocket Ship Pokemon
						h6.card-title Sergio Rodriguez
						p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

		footer.text-center
			p © 2017 Alexander Lemkin

		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/tether.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/mdb.min.js")
