doctype html
html(lang="en")
	head
		!= partial("../partial/_main_header")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="css/mdb.min.css" rel="stylesheet")
		link(href="css/doodles.css" rel="stylesheet")

	body(style="padding:3em;")
		nav.navbar.navbar-toggleable-md.navbar-dark.bg-primary
			div.navbar-brand
				strong /Doodles
			div.navbar-nav
				a.nav-link.fa.fa-home(href="https://www.alemkin.com") &nbsp;Return to Alemkin.com
		div.row.images
			for card in public.doodles._data
				!= partial("../partial/_doodle_card", card)
		footer.text-center
			p © 2017 Alexander Lemkin

		script(type="text/javascript" src="js/jquery-3.1.1.min.js")
		script(type="text/javascript" src="js/tether.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/mdb.min.js")
