doctype html
html(lang="en")
  head
    != partial("../partial/_main_header")
    link(href="../css/resume.css" rel="stylesheet")

  body
    div(id="doc2" class="yui-t7")
      div#inner
        div#hd
          div.yui-gc
            div.yui-u.first
                h1 Alexander Lemkin
                h2 Full Stack Web Developer
                h3 
                  a(href="https://alemkin.com" target="_blank") alemkin.com
            div.yui-u
              div.contact-info
                  h3
                    a(href="mailto:contact@alemkin.com") contact@alemkin.com
                  h3
                    a(href="https://github.com/Alemkin" target="_blank") github.com/Alemkin
        div#bd
          div#yui-main
            div.yui-b

              != partial("../partial/_resume_jobs")

              div.yui-gf
                div.yui-u.first
                  h2 Personal Projects
                div.yui-u
                  p
                    a(href="https://gamingeverafter.com" target="_blank") Gaming Ever After Blog (https://gamingeverafter.com)
                  p
                    a(href="https://github.com/Alemkin/gamingeverafter.com" target="_blank") Gaming Ever After Code (https://github.com/Alemkin/gamingeverafter.com)
                  p.
                    ~
                  p
                    a(href="https://github.com/ToroCraft/ToroChess" target="_blank") Live Chess Minecraft Mod (https://github.com/ToroCraft/ToroChess)
                  p.
                    ~
                  p
                    a(href="https://github.com/Alemkin/WizardSurf" target="_blank") 2D Wizard game I made learning Monogame (https://github.com/Alemkin/WizardSurf)
                  p.
                    ~
                  p
                    a(href="https://alemkin.com/doodles/" target="_blank") Website I made to showcase my co-worker's whiteboard doodles (https://alemkin.com/doodles/)
                  p.
                    ~
                  p
                    a(href="https://alemkin.com/archive" target="_blank") Family Archive to showcase curated family artifacts built with Ruby on Rails (https://alemkin.com/archive)
                  p
                    a(href="https://github.com/Alemkin/familyarchive" target="_blank") Family Archive Code (https://github.com/Alemkin/familyarchive)  


              div.yui-gf
                div.yui-u.first
                  h2 Expertise
                div.yui-u
                  p.
                    Java, C#, Azure Cloud, Agile/Scrum, UX, Full SDLC, Electron,
                    System Architecture, Application Architecture, Microservices
                    OOP, Functional Programming, Domain Driven Design,
                    SOLID Principles, Dapper, Postgresql, devops, Bootstrap
                    React/Redux, AJAX, JQuery, REST API, AWS, .Net, .Net Core,
                    Git, Spring, SQL, HTML, CSS, SCSS, SASS, JavaScript, Unity,
                    Node.js, Docker, SASS, Jenkins, JIRA, Linux, Mac, Windows

              div.yui-gf.last
                div.yui-u.first
                  h2 Education
                div.yui-u
                  h2 University of Central Florida - Orlando, Florida
                  h3 Biotechnology, Computer Science
        div#ft
          p Alexander Lemkin &mdash; #[a(href="mailto:contact@alemkin.com") contact@alemkin.com] &mdash; Tallahassee, Florida