doctype html
html(lang="en")
  head
    != partial("../partial/_main_header")
    link(href="../css/resume.css" rel="stylesheet")

  body
    div(id="doc2" class="yui-t7")
      div#inner
        div#hd
          div.yui-gc
            div.yui-u.first
              h1 Alexander Lemkin
              h2 Web Developer
              h3
                i alemkin.com
            div.yui-u
              div.contact-info
                h3
                  a(href="mailto:contact@alemkin.com") contact@alemkin.com
                h3
                  a(href="https://github.com/Alemkin" target="_blank") GitHub @ALemkin
        div#bd
          div#yui-main
            div.yui-b

              != partial("../partial/_resume_jobs")

              div.yui-gf
                    p.
                      Java, C#, Ruby, Agile, UX, Full SDLC, 
                      React/Redux, AJAX, JQuery, REST, AWS, .Net, 
                      Git, Spring, SQL, HTML, CSS, JavaScript, ES6, 
                      Node.js, Docker, SASS, Jenkins, JIRA, Linux, Mac, Windows

              div.yui-gf.last
                div.yui-u
                  h2 University of Central Florida - Orlando, Florida
                  h3 Interdisciplinary Studies(Biology, Computer Science)
          div#ft
              p Alexander Lemkin &mdash; #[a(href="mailto:contact@alemkin.com") contact@alemkin.com]
