meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="I am the ONE true Alex")
meta(name="author" content="Alexander Lemkin")
meta(name="keywords" content="Code, Design, Back-End, Front-End, Java, Object Oriented, Programmer, Software Developer, Software Engineer, Web Developer")
link(rel="icon" href="/images/favicon.ico")
link(href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" rel="stylesheet")


title #{ siteTitle }