div.yui-gf
  div.yui-u-d
    div.job
      h2 Auto Data Direct Inc.
      h3 Software Engineer
      h4 Nov. 2016 - Present
      ul
        li  Since starting, I have touched almost every application in the company
        li  Pivotal in restructuring and rebuilding of several products in the company
        li  Drove the main effort for redesign of most products in the company, continuing to give all of the applications a fresh look, with cleaner code and greater maintainability
        li  Engaged in leadership roles for projects that have company wide impact
        li  Lead the effort on development of the new navigation across all customer and company facing products
        li  Delivered a new internal, drop box style file sharing application from the ground up using React/Redux and Spark (Java)
        li  Currently contribute heavily to the architecture and technology stack of all new products in the company
        li  I am consistently pushing the boundaries of our practices, and striving for continued excellence in our <br />
            use of standards in the field and employing the latest technology stacks in a fully effective and efficient manner
    div.job
      h2  i2xSolutions
      h3  Software Engineering Consultant
      h4  Mar. 2017 - Jan. 2018
      ul
        li  Actively engaged in and tackled every need i2x had, and maintained continuous contact with owners of the products and processes
        li  Delivered large scale patient data importing processes for several of their contracts in SQL Server databases
        li  Worked heavily on improvements and brand new features on the UI and API of their xReports product
        li  Maintained ongoing processes for billing and data importing on certain contracts and customers
        li  Performed and delivered results on research and implementation on cloud solutions using Azure
    div.job
      h2 Aderant
      h3 Software Engineer
      h4 Jul. 2015 - Nov. 2016
      ul
        li Contributed significantly on a small development team to all of the web based products for Aderant including:
          p  #[a(href="https://www.deadlines.com" target="_blank") Deadlines.com]
          p  #[a(href="https://www.aderant.com/solutions-calendaring-compulaw/" target="_blank") CompuLaw Product Suite]

        li  From database to UI, fully built the DocketMonitor product
        li  Moved to a performance enhancement and research position after successfully increasing the productivity and value of the products on the CompuLaw team
        li  Successfully increased performance of several components within the Expert product suite.
        li  Created and updated numerous internal tools for company software development.
        li  Engaged in a number of research related projects on the Expert Suite, and contributed to the Expert Time product for releases
        li  Heavily involved myself in internal recruiting efforts, bringing in a large number of candidates to be considered for hire, and getting a good amount hired.
        li  Spearheaded group learning and community developer involvement efforts, teaching learning sessions, and encouraging others to partake in the local tech meetings to better ourselves.
    div.job
      h2 AgileSrc, LLC
      h3 Software Engineer
      h4 Jul. 2014 - Jun. 2015
      ul
        li  Fully involved in full SDLC for most products in the company. Design to production.
        li  Learned and created a majority of the API, and UI, for their flagship product Engage Value:
          p  #[a(href="http://www.engageapps.io" target="_blank") Engage Apps]
        li  Applied myself as a core contributor in the suite of products under Karasu:
          p  #[a(href="http://www.karasutech.com" target="_blank") Karasu Technologies]
        li  Engaged in the development and maintenance of large enterprise application government contracts
          p  #[a(href="http://www.edcss.net/edc/" target="_blank") Environmental Data Cube]
        li  Contributed significantly in new technologies for the company through exploration and proof of concept projects for a slew of new frameworks and languages.
    div.job
      h2 UCF Psychology
      h3 Java Android Developer
      h4 Mar. 2014 - Jun. 2015
      ul
        li  Applied my capabilities to learn the brand new technology Google Glass
        li  Evaluated and delivered every request from the psychology research team to enable them to perform new kinds of experiments
        li  Continued to learn the api as it was constantly updated, and implemented numerous projects for use in the lab
        li  Publications:
          p  #[a(href="https://link.springer.com/article/10.1186/s41235-016-0015-6" target="_blank") Through the Google Glass]
    div.job
      h2 UCF College of Sciences
      h3 Research Fiscal Analyst
      h4 Mar. 2013 - Jun. 2014
      ul
        li  Maintained rigorous accounting of grant financing for College of Sciences researchers
        li  Revamped accounting and tracking system through the uses of Microsoft Access Suite
        li  Learned and employed Visual Basic and integrated with all of the existing systems built through Excel
    div.job.last
      h2 UCF College of Medicine
      h3 Undergraduate Researcher
      h4 Apr. 2013 - Jan. 2014
      ul
        li  Engaged in rigorous research in the field of Biological Gerontology
        li  Received extensive training in lab procedure, safety, and research methods
        li  Employed actively learned techniques on collection and experimentation on brain and skeletal muscle tissue of GHRGK mice
        li  Performed a multitude of DNA and protein analysis tests for the research study on long lived mice
        li  Produced a large amount of usable results for publication in the field