div.yui-gf
  div.yui-u-d
    div.job
      h2 Netchex
      h3 Software Architect
      h4 Nov. 2019 - Present
      ul
        li  C#, dotnet core, JavaScript, React, Redux, ASP, Angular, .Net, Sql Server, Git, Azure, Redis
        li  Promoted to architect after proving myself to be a reliable source of innovation and architectural patterns
        li  Actively engage in the developer community, attending hackathons as mentor, speaker and participant, to speaking at and participating in developer conferences, and have events sponsored by Netchex where possible to increase outreach and recognition
        li  Trusted with the interview process of dozens of developer candidates since July 2019, all prospective candidates being interviewed by myself and fellow Architect
        li  Hired over a dozen developers that continue to deliver high value and innovation across all applications
        li  Built out, maintain, and innovate on most of the architecture used across the UI and API of all new applications, from React to the dotnet core microservices
        li  Led stabilization effort to burn down the highest impact bugs across the legacy applications in the company, helping accomplish in one month the elimination of the biggest issues faced by our customers, some bugs having been unresolved for years before
        li  Led the effort to deliver our initial COVID response portal for EFMLEA and Paycheck Protection in a matter of weeks
        li  Handle cross cutting concerns including the mobile applications with biometric authentication, Global Navigation of the application, Feature Flag implementation and maintenance, User Sessions, Migration of existing architectures to new ones, and Application configurations to name just a few
        li  Constantly rethink and reevaluate our architecture, and innovate on the latest best practices across all our frameworks and technologies
        li  Implemented Cloud Compute Functions in Azure for job executions such as our address, wage, and tax verification system
        li  Constantly work to increase effectiveness of processes in the company, from bottlenecks in release and test pipelines, to helping understand and shape agile process in teams
        li  Hold Town Halls on Architectural accomplishments to keep all developers up to date and encourage adoption and use of newest practices and technologies, as well as gain feedback for what everyone needs most
        li  Mentor other developers on a consistent basis, from spending time with new hires to set up their environment, to hopping on team coding calls to help get complex features and bugs figured out, to showing junior developers how to navigate systems and frameworks they are not familiar with
        li  Added Redis caching layer in Azure across our microservices, increasing performance of several high traffic bottlenecks including session check and refresh
        li  Chair of the Diversity and Inclusion Council formed by the company, helping shape company policy on the subject
    div.job
      h2 Netchex
      h3 Software Engineer
      h4 Nov. 2018 - Nov. 2019
      ul
        li  C#, dotnet core, JavaScript, React, Redux, ASP, Angular, .Net, Sql Server, Git, Azure, Redis
        li  Joined as a general engineer and quickly promoted to technical lead of new product development
        li  Applied my expertise of React and architectural patterns to craft a solution for the rewrite of core applications across the company site
        li  Worked with a full agile scrum team to rebuild the Employee Profile experience from the ground up using React/Redux and Dotnet Core microservice architectures
        li  Analyzed and helped apply B2C authentication schema across all applications
        li  Led the Payroll rewrite team after accomplishing the Employee Profile goal
        li  Helped to establish a culture of innovation and improvement at the developer level, focusing on making our code better to deliver new applications and features at an unprecedented pace for the history of the company, and not just fighting fires
    div.job
      h2 Auto Data Direct Inc.
      h3 Full Stack Developer
      h4 Nov. 2016 - Nov. 2018
      ul
        li  Java, JavaScript, React, Redux, PostgreSQL, Git, Jenkins, AWS
        li  Pivotal in the effort for restructuring, rebuilding and redesign of most products in the company, continuing to give all of the applications a fresh look, with cleaner code and greater maintainability
        li  Engaged in leadership roles for projects that have company wide impact
        li  Lead the development of the new navigation across all customer and company facing products using React/Redux
        li  Delivered a new internal, drop box style file sharing application from the ground up using React/Redux and Spark (Java)
        li  Researched and created proof of concept desktop application using Electron and Oath2 for greater competitiveness in Enterprise sales. Turned the PoC into fully functioning and deploy-able application for Linux and Windows that has not needed to be updated since.
        li  Contributed heavily to the architecture and technology stack of all new products in the company
        li  Consistently pushed the boundaries of our practices, and striving for continued excellence in our use of standards in the field and employing the latest technology stacks in a fully effective and efficient manner
    div.job
      h2  i2xSolutions
      h3  Software Engineering Consultant
      h4  Mar. 2017 - Jan. 2018
      ul
        li  .Net, AngularJS, JavaScript, C#, TFS, Azure, Sql Server
        li  Actively engaged in and tackled every need i2x had, and maintained continuous contact with owners of the products and processes
        li  Delivered large scale patient data importing processes for several of their contracts in SQL Server databases
        li  Worked heavily on improvements and brand new features on the UI and API of their xReports product
        li  Maintained ongoing processes for billing and data importing on certain contracts and customers
        li  Performed and delivered results on research and implementation on cloud solutions using Azure
    div.job
      h2 Aderant
      h3 Software Engineer
      h4 Jul. 2015 - Nov. 2016
      ul
        li .Net, ASP.NET MVC, C#, JavaScript, JQuery, WPF, Azure, Sql Server, XAML
        li Contributed significantly on a small development team to all of the web based products for Aderant including:
          p  #[a(href="https://www.deadlines.com" target="_blank") Deadlines.com] (https://www.deadlines.com/)
          p  #[a(href="https://www.aderant.com/solutions-calendaring-compulaw/" target="_blank") CompuLaw Product Suite] (https://www.aderant.com/solutions-calendaring-compulaw/)
        li  From database to UI, fully built the DocketMonitor product
        li  Moved to a performance enhancement and research position after successfully increasing the productivity and value of the products on the CompuLaw team
        li  Successfully increased performance of several components within the Expert product suite.
        li  Created and updated numerous internal tools for company software development.
        li  Engaged in a number of research related projects on the Expert Suite, and contributed to the Expert Time product for releases
        li  Spearheaded group learning and community developer involvement efforts, teaching learning sessions, and encouraging others to partake in the local tech meetings to better ourselves.
    div.job
      h2 AgileSrc, LLC
      h3 Web Developer
      h4 Jul. 2014 - Jun. 2015
      ul
        li  Java, JavaScript, Vaadin, BackboneJS, Spring, Hibernate, MySQL, JQuery
        li  Fully involved in full SDLC for most products in the company. Design to production.
        li  Learned and created a majority of the API, and UI, for their flagship product Engage Value:
          p  #[a(href="http://www.engageapps.io" target="_blank") Engage Apps] (https://engageapps.io/)
        li  Applied myself as a core contributor in the suite of products under Karasu:
          p  #[a(href="http://www.karasutech.com" target="_blank") Karasu Technologies] (karasutech.com)
        li  Engaged in the development and maintenance of large enterprise application government contracts
          p  #[a(href="http://www.edcss.net/edc/" target="_blank") Environmental Data Cube] (www.edcss.net/edc/)
        li  Contributed significantly in new technologies for the company through exploration and proof of concept projects for a slew of new frameworks and languages.
    div.job
      h2 UCF Psychology
      h3 Java Android Developer
      h4 Mar. 2014 - Jun. 2015
      ul
        li  Java, Android, MatLab, Google Glass, TCP
        li  Applied my capabilities to learn the brand new technology Google Glass
        li  Evaluated and delivered every request from the psychology research team to enable them to perform new kinds of experiments
        li  Continued to learn the api as it was constantly updated, and implemented numerous projects for use in the lab
        li  Publications:
          p  #[a(href="https://link.springer.com/article/10.1186/s41235-016-0015-6" target="_blank") Through the Google Glass] (https://link.springer.com/article/10.1186/s41235-016-0015-6)
    div.job
      h2 UCF College of Sciences
      h3 Research Fiscal Analyst
      h4 Mar. 2013 - Jun. 2014
      ul
        li  Maintained rigorous accounting of grant financing for College of Sciences researchers
        li  Revamped accounting and tracking system through the uses of Microsoft Access Suite
        li  Learned and employed Visual Basic and integrated with all of the existing systems built through Excel
    div.job.last
      h2 UCF College of Medicine
      h3 Undergraduate Researcher
      h4 Apr. 2013 - Jan. 2014
      ul
        li  Engaged in rigorous research in the field of Biological Gerontology
        li  Received extensive training in lab procedure, safety, and research methods
        li  Employed actively learned techniques on collection and experimentation on brain and skeletal muscle tissue of GHRGK mice
        li  Performed a multitude of DNA and protein analysis tests for the research study on long lived mice
