div.yui-gf
	div.yui-u.first
		h2 Experience

	div.yui-u
		div.job
			h2 Auto Data Direct Inc.
			h3 Software Engineer
			h4 November 2016 - Present
			p.
				Working on Full Stack development in open source tech. </br>
				Postgresql, Java, Html, CSS, JS, and various frameworks in between. </br> </br>
				Since starting, have been engaged in numerous large projects, </br>
				becoming productive and useful in the suite of products within </br>
				just a few weeks of starting. </br>
			p.
				Currently working on the following products: <br/>
				#[a(href="https://www.add123.com/addtag" target="_blank") ADDTAG Services]
		div.job
			h2 Aderant
			h3 Software Engineer
			h4 July 2015 - November 2016
			p.
				Worked on Full Stack development cycle. <br/>
				Was able to ramp up and fully and successfully contribute <br/>
				to a large project within 3 weeks of being hired, <br/>
				which shipped on time with full functionality, <br/>
				after having been reduced in timeline due to my inclusion.

			p.
				Contributed significantly on a small development team <br/>
				to all of the web based products for Aderant inluding: <br/>
				#[a(href="Http://www.deadlines.com" target="_blank") Deadlines.com] <br/>
				#[a(href="http://www.aderant.com/solutions-calendaring-docketing-compulaw-myview/" target="_blank") The MyView product]

			p.
				Built the importer process for most of the counties supported in DocketMonitor, <br/>
				as well as contributing significantly to all other parts of the project: <br/>
				#[a(href="http://www.aderant.com/solutions-calendaring-docketing-docketmonitor/" target="_blank") DocketMonitor]
			p.
				Moved to a performance enhancement and research position: <br/>
				- Successfully increased performance of several components within the Expert product. <br/>
				- Working on internal tooling for company software development. <br/>
				-Worked on a number of research related projects on the Expert Suite, <br/>
				and contributed to the Expert Time product for releases.
		div.job
			h2 AgileSrc, LLC
			h3 Software Engineer
			h4 July 2014 - June 2015
			p.
				Worked on full software development cycle for projects. Design to production. </br>
				Built a majority of the back-end structure and API for engage-value, and some front-end:</br>
				- #[a(href="http://www.engageapps.io" target="_blank") Engage Apps] <br/>
				Had a large hand in developing the suite of products under Karasu:</br>
				- #[a(href="http://www.karasutech.com" target="_blank") Karasu Technologies]<br/>
				Worked on government contracted projects, most significantly the<br/>
				- #[a(href="http://www.edcss.net/edc/" target="_blank") Environmental Data Cube] some portions:<br/>
				-- Multi-threaded KML processor, Satellite position calculating console applications <br/>
				Performed inquiries and experimentation with new technologies and frameworks, and wiritng articles.
		div.job
			h2 UCF Psychology
			h3 Java Android Developer
			h4 March 2014 - June 2015
			p.
				Currently still providing support as needed, with all programs completed and being used for research purposes <br/>
				Developed for Google Glass (Android) projects in Java. </br>
				Set up the technical aspects for experimentation in a Psychology lab. </br>
				Provide updates and support as the Glass API changes and different experiments need to be done.
		div.job
			h2 UCF College of Sciences
			h3 Research Fiscal Analyst
			h4 March 2013 - June 2014
			p.
				Handled the grant financials for research professors in the College of Sciences. <br>
				Included accounting, VB programming, and database management.
		div.job.last
			h2 UCF College of Medicine
			h3 Undergraduate Researcher
			h4 April 2013 - January 2014
			p.
				Performed research in the field of Biological Gerontology. </br>
				Received rigorous training in lab procedure, safety, and research methods. </br>
				Handled brain and skeletal muscle tissue of experimented mice. </br>
				Performed a multitude of DNA and protein analysis tests for the research study. </br>
				Properly recorded results and documented procedures.