a(href="https://www.linkedin.com/pub/alexander-lemkin/49/637/636" target="_blank" class="fa fa-linkedin")
a(href="https://www.github.com/alemkin" target="_blank" class="fa fa-github")
a(href="https://twitter.com/alemkin" target="_blank" class="fa fa-twitter-square")
a(href="http://www.goodreads.com/user/show/18097559-alexander-lemkin" target="_blank" class="fa fa-book")